In [2]:
import pandas as pd
ufo = pd.read_csv('ufo.csv')

In [3]:
# rename any columns with spaces so that they don't contain spaces
ufo.rename(columns={'City':'city', 'Colors Reported':'colors_reported', 'Shape Reported':'shape_reported', 'State':'state', 'Time':'time'}, inplace=True)

In [4]:
# what are the three most common colors reported?
ufo.colors_reported.value_counts().head(3)

ORANGE    5216
RED       4809
GREEN     1897
dtype: int64

In [5]:
# for reports in VA, what's the most common city?
ufo.city[ufo.state == "VA"].value_counts()[:10]
#For the cities with state = VA, give me the count. Just the top 10

Virginia Beach    110
Richmond           92
Alexandria         48
Roanoke            35
Chesapeake         33
Fredericksburg     31
Norfolk            31
Arlington          30
Woodbridge         27
Hampton            26
dtype: int64

In [6]:
# print a DataFrame containing only reports from Arlington, VA
ufo[(ufo.city == "Arlington") & (ufo.state == "VA")]
#Add .shape to check whether the df size matches the count from above

            city colors_reported shape_reported state              time
202    Arlington           GREEN           OVAL    VA   7/13/1952 21:00
6300   Arlington             NaN        CHEVRON    VA    5/5/1990 21:40
10278  Arlington             NaN           DISK    VA   5/27/1997 15:30
14527  Arlington             NaN          OTHER    VA   9/10/1999 21:41
17984  Arlington             RED           DISK    VA  11/19/2000 22:00
21201  Arlington           GREEN       FIREBALL    VA    1/7/2002 17:45
22633  Arlington             NaN          LIGHT    VA    7/26/2002 1:15
22780  Arlington             NaN          LIGHT    VA    8/7/2002 21:00
25066  Arlington             NaN          CIGAR    VA    6/1/2003 22:34
27398  Arlington             NaN        VARIOUS    VA   12/13/2003 2:00
30608  Arlington             NaN         CIRCLE    VA   10/9/2004 22:30
31316  Arlington             NaN      FORMATION    VA   12/13/2004 0:30
35787  Arlington             NaN          LIGHT    VA   3/15/2006 22:30
37036  Arlington             NaN       TRIANGLE    VA    8/1/2006 22:00
39673  Arlington             NaN          LIGHT    VA    4/7/2007 18:45
41083  Arlington             NaN          FLASH    VA    8/15/2007 1:30
44562  Arlington             NaN       TRIANGLE    VA    6/6/2008 21:55
45450  Arlington             NaN           OVAL    VA    8/2/2008 20:30
48679  Arlington             NaN         SPHERE    VA   4/24/2009 17:45
54613  Arlington             NaN          LIGHT    VA   9/17/2010 19:00
54944  Arlington             NaN         SPHERE    VA  10/12/2010 19:00
70462  Arlington             NaN       FIREBALL    VA   6/25/2013 23:00
72856  Arlington             RED         SPHERE    VA   9/26/2013 21:20
73408  Arlington             NaN         CIRCLE    VA   10/19/2013 0:17
73747  Arlington             NaN          LIGHT    VA   11/1/2013 22:42
76144  Arlington             NaN          CIGAR    VA   2/21/2014 14:30
76325  Arlington             NaN            NaN    VA    3/1/2014 20:00
76337  Arlington             NaN      FORMATION    VA    3/1/2014 23:30
77807  Arlington      RED ORANGE          LIGHT    VA   5/24/2014 22:30
79122  Arlington             NaN         CIRCLE    VA    7/7/2014 21:00

In [62]:
# count the number of missing values in each column
# ufo.isnull() this will give you the dataframe with booleans indicating whether the value is NaN
ufo.isnull().sum() #This gives the sum of NaN values in each column. Add another .sum() to get the total cells missing

city                  47
colors_reported    63509
shape_reported      8402
state                  0
time                   0
dtype: int64

In [86]:
# how many rows remain if you drop all rows with any missing values?
#15,510 rows
ufo[(ufo.city.isnull()== False) & (ufo.colors_reported.isnull()== False) & (ufo.shape_reported.isnull()== False)]
#ufo.dropna() Easier way to ignore rows that have a null cell

,city,colors_reported,shape_reported,state,time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
80429,Bettendorf,RED,CIRCLE,IA,8/31/2014 20:50
80430,Pompton Lakes,RED,SPHERE,NJ,8/31/2014 21:00
80436,Montrose,ORANGE,SPHERE,MI,8/31/2014 21:45
80438,Brunswick,ORANGE,CYLINDER,OH,8/31/2014 22:00
80441,Scribner,RED,TEARDROP,NE,8/31/2014 22:30
80453,Minersville,RED ORANGE GREEN BLUE,TRIANGLE,PA,9/1/2014 11:56
80457,Syracuse,ORANGE,CIRCLE,NY,9/1/2014 16:05
80458,Parma,ORANGE,FIREBALL,OH,9/1/2014 20:00
80459,Roswell,ORANGE,CIRCLE,NM,9/1/2014 20:00
80465,South Londonderry,GREEN,VARIOUS,VT,9/1/2014 21:30
80467,Gold Hill,ORANGE,LIGHT,NC,9/1/2014 22:00
80469,Milford,ORANGE,CIRCLE,DE,9/1/2014 22:19
80473,Trevose,BLUE,TRIANGLE,PA,9/2/2014 5:50
80482,Spearfish,ORANGE,FIREBALL,SD,9/2/2014 22:30
80489,Pleasure Island,ORANGE,SPHERE,NC,9/3/2014 5:00
80494,Boca Raton,RED GREEN,CIRCLE,FL,9/3/2014 19:00
80495,Kingston,YELLOW,FLASH,NH,9/3/2014 19:00
80496,New York City,RED,FLASH,NY,9/3/2014 19:00
80500,Johnsburg,RED BLUE,LIGHT,IL,9/3/2014 21:00
80503,Bethel Park,ORANGE,VARIOUS,PA,9/3/2014 21:15
80505,Clarence,YELLOW,TRIANGLE,NY,9/3/2014 21:30
80509,Chesapeake Beach,RED BLUE,CIRCLE,MD,9/3/2014 23:30
80510,Rogersville,RED,OVAL,TN,9/4/2014 0:00
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43