In [1]:
import pandas as pd
ufo = pd.read_csv('ufo.csv')

In [6]:
# rename any columns with spaces so that they don't contain spaces
ufo.rename(columns={'City':'city', 'Colors Reported':'colors_reported', 'Shape Reported':'shape_reported', 'State':'state', 'Time':'time'}, inplace=True)
#Through loop comprehension [col for col in ufo.columns], this will just give a list.
#[col.replace(" ","_") for col in ufo.columns]
ufo.shape

(80543, 5)

In [14]:
# what are the three most common colors reported?
ufo.colors_reported.value_counts().head(n=3)

ORANGE    5216
RED       4809
GREEN     1897
dtype: int64

In [15]:
# for reports in VA, what's the most common city?
ufo.city[ufo.state == "VA"].value_counts().head()

Virginia Beach    110
Richmond           92
Alexandria         48
Roanoke            35
Chesapeake         33
dtype: int64

In [5]:
# print a DataFrame containing only reports from Arlington, VA
ufo[(ufo.city == "Arlington") & (ufo.state == "VA")]
#Add .shape to check whether the df size matches the count from above

            city colors_reported shape_reported state              time
202    Arlington           GREEN           OVAL    VA   7/13/1952 21:00
6300   Arlington             NaN        CHEVRON    VA    5/5/1990 21:40
10278  Arlington             NaN           DISK    VA   5/27/1997 15:30
14527  Arlington             NaN          OTHER    VA   9/10/1999 21:41
17984  Arlington             RED           DISK    VA  11/19/2000 22:00
21201  Arlington           GREEN       FIREBALL    VA    1/7/2002 17:45
22633  Arlington             NaN          LIGHT    VA    7/26/2002 1:15
22780  Arlington             NaN          LIGHT    VA    8/7/2002 21:00
25066  Arlington             NaN          CIGAR    VA    6/1/2003 22:34
27398  Arlington             NaN        VARIOUS    VA   12/13/2003 2:00
30608  Arlington             NaN         CIRCLE    VA   10/9/2004 22:30
31316  Arlington             NaN      FORMATION    VA   12/13/2004 0:30
35787  Arlington             NaN          LIGHT    VA   3/15/2006 22:30
37036  Arlington             NaN       TRIANGLE    VA    8/1/2006 22:00
39673  Arlington             NaN          LIGHT    VA    4/7/2007 18:45
41083  Arlington             NaN          FLASH    VA    8/15/2007 1:30
44562  Arlington             NaN       TRIANGLE    VA    6/6/2008 21:55
45450  Arlington             NaN           OVAL    VA    8/2/2008 20:30
48679  Arlington             NaN         SPHERE    VA   4/24/2009 17:45
54613  Arlington             NaN          LIGHT    VA   9/17/2010 19:00
54944  Arlington             NaN         SPHERE    VA  10/12/2010 19:00
70462  Arlington             NaN       FIREBALL    VA   6/25/2013 23:00
72856  Arlington             RED         SPHERE    VA   9/26/2013 21:20
73408  Arlington             NaN         CIRCLE    VA   10/19/2013 0:17
73747  Arlington             NaN          LIGHT    VA   11/1/2013 22:42
76144  Arlington             NaN          CIGAR    VA   2/21/2014 14:30
76325  Arlington             NaN            NaN    VA    3/1/2014 20:00
76337  Arlington             NaN      FORMATION    VA    3/1/2014 23:30
77807  Arlington      RED ORANGE          LIGHT    VA   5/24/2014 22:30
79122  Arlington             NaN         CIRCLE    VA    7/7/2014 21:00

In [19]:
# count the number of missing values in each column
# ufo.isnull() this will give you the dataframe with booleans indicating whether the value is NaN
ufo.isnull().sum() #This gives the sum of NaN values in each column. Add another .sum() to get the total cells missing

city                  47
colors_reported    63509
shape_reported      8402
state                  0
time                   0
dtype: int64

In [31]:
# how many rows remain if you drop all rows with any missing values?
#15,510 rows
#ufo[(ufo.city.isnull()== False) & (ufo.colors_reported.isnull()== False) & (ufo.shape_reported.isnull()== False)]
ufo.dropna().shape[0] #Easier way to ignore rows that have a null cell

15510